<h2>最近热点</h2>
<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active banner">
			<a href='https://yq.aliyun.com/product/1169?utm_medium=text&utm_source=baidu&utm_campaign=dzy&utm_content=se_445012'><img src="/images/timg.jpg" alt="First slide"></a>
		</div>
		<div class="item banner">
			<a href='http://www.linecg.com/video/all_0_0_0_0_0_6_0.html'><img src="/images/vue.jpg" alt="First slide"></a>
			
		</div>
		<div class="item banner">
			<a href='http://www.runoob.com/angularjs/angularjs-tutorial.html'><img src="/images/angular.jpg" alt="First slide"></a>
			
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel" 
	   data-slide="prev" id='left'>&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" 
	   data-slide="next" id='right'>&rsaquo;</a>
</div> 